
main{
    height: auto;
    font-size: 22px;
    background-color: #efefef;
    overflow: hidden;
}
.intro{
   
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
    color:#22223b ;
    overflow: hidden;
    display: inline-flex;
}
.intro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 800;
color: #9b2226;
text-decoration: underline;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.intro article {
    flex: 1 1 60%;
    margin-right: 20px; 
}
.pics {
    flex: 1 1 30%; 
    display: flex;
    flex-wrap: wrap;
}
.pics img {
    width: 100%;
    margin-bottom: 20px; 
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro article {
        margin-right: 0; 
    }

    .pics {
        flex: 1 1 100%;
    }
}
.location{
    display: flex;
    flex-direction: row;
    float: left;
}

.location a{
    display: block;
    transition: 0.5s;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: black;!important
}
.location div {
    width: 50%;
}
.location ul{
    width: 50%;
}
.location  a{
    color: black;
}

