
main{
    height: auto;
    font-size: 22px;
    background-color: #efefef;
    overflow: hidden;
}
.intro{
   
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
    color:#22223b ;
    overflow: hidden;
    display: inline-flex;
}
.intro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 800;
color: #9b2226;
text-decoration: underline;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}
.intro h3{
    color: #e85d04;
}
.intro article {
    flex: 1 1 60%;
    margin-right: 20px; 
}
.pics {
    flex: 1 1 30%; 
    display: flex;
    flex-wrap: wrap;
}
.pics img {
    width: 100%;
    margin-bottom: 20px; }
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro article {
        margin-right: 0; 
    }

    .pics {
        flex: 1 1 100%;
    }
}
.location{
    display: flex;
    flex-direction: row;
    float: left;

}

.location h2{
color: #780000;
}
.location div {
    width: 50%;
}
.location .taxi ul{
    margin-left: 2%;
    width: 50%;
}
.taxi ul li a{
    text-decoration: none;
    color: #e85d04;
}
.taxi ul li a:hover{
    color: #05299e;
}

