main{
    padding: 10px;
    border: 2px;
    background-color:#f4f4f4;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
}
main h2{
   text-align: center;
    font-weight: 900;
    color: coral;}
    main h2:hover{
       color: blue;
        text-decoration: underline;
    }
.pics1{
    display: flex;
    flex-direction: row;
}
.pics1 img{
    width: 50%; 
    height:auto;
    margin:  5px;
}
.restaurant,.bar,.pool,.GYM,.SPA,.WIFI,.PARKING{
   margin: 10px;
    width: 50%;
}
.br,.sg,.WP{
    
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 


}
.SPA .pics1 img{
    width: 30%;
    height: auto;

}
#spa{
margin-left: 20%;

}
.SPA{
    width: 90%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}