* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    padding: 200px;
    display: flex;
    flex-direction: row;
    background-image: url(../images/contact.jpg);
    background-size:cover;
  
    }


section {
    margin-bottom: 20px;
    color: #ff6700;
}

section h2 {
    color: #ff6700;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    font-weight: 900;
    }


label {
    display: block;
    margin-bottom: 5px;
    padding: 0%;
    font-weight: 900;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #968e8e;
    border-radius: 5px;
    background-color: transparent;
    
}
#contact-form a{
    background-color: #8d968f;
    color: #bb1e1e;
    border: 2px;
    padding: 10px 20px;
    cursor: pointer;
    
}
input[type="submt"]{
    background-color: royalblue;
    color: chocolate;
}

input[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
    
}

#contact-info{
    font-weight:bold;
    font-style: oblique;
    backdrop-filter: blur(10px);
    
}


#contact-form{
    font-size: xx-large;
   backdrop-filter: blur(15px);
    
}
#contact-info h2{
    font-size: xx-large;
    font-weight: bold;
}

