main{
    background-color: gray;
    margin-left: 70px;
}

.event_hall h1
{
text-align:left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: auto;
margin-top:0px;
color: darkblue;
font-weight: bolder;
}
.event_hall img,pre
{
    margin-left: 15px;
}
.event_hall img
{
    margin-left: 10px;
    
    width: 850px;
}

.hall pre b
{
color: red;
font-size: larger;
font-family: cursive;
}
.hall,.wedding pre
{
    font-family: cursive;
    font-size: larger;
}
.event_hall
{
    overflow: hidden;
    height: auto;
}
.hall
{
width: 100%;

}

.wedding
{
    width: 100%;
}