main{
    background-color: #fff;
    margin-left: 70px;
}

.event_hall h1
{
text-align:left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: auto;
margin-top:0px;
color: darkblue;
font-weight: bolder;
}
.event_hall img,pre
{
    margin-left: 15px;
}
.event_hall img
{
    margin-left: 10px;
    
    width: 850px;
}

.hall pre b
{
color: red;
font-size: larger;
font-family: cursive;
}
.hall,.wedding pre
{
    font-family: cursive;
    font-size: larger;
}
.event_hall
{
    overflow: hidden;
    height: auto;
}
.hall
{
    width: 90%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: #c9c4c4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.wedding
{
    width: 90%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: #c9c4c4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}