.hall{
    width: 100%;
}

.headerr
{

color: red;
text-align: center;
font-family: cursive;

margin: auto;
margin-top:0px;
}
.event_hall img,p
{
    margin-left: 15px;
}
.event_hall img
{
    margin-left: 10px;
    text-align: center;
    width: 850px;
}

.event_hall h2
{
    color: red;
    text-align: center;
    font-family: cursive; 
}
.hall p b
{
color: red;
font-size: larger;
font-family: cursive;
}
.hall p
{
    font-family: cursive;
}
.event_hall
{
    overflow: hidden;
    height: auto;
}
.hall
{
width: 100%;

}

.wedding
{
    width: 100%;
}