main
{
    margin-left: 70px;
    background-color: #f4f4f4;
}
.gallery{
    width: 90%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.gallery table tr td img
{
width: 280px;
height: 240px;
padding:0px;
margin: 0px;

}
.gallery table
{
width: 70%;
}
.gallery h2
{
    font-weight: 1000;
    color:brown;
    font-family:fantasy;


}

.gallery pre
{
    font-family: cursive;
}