main
{
    margin-left: 70px;
    background-color: gray;
}

.gallery table tr td img
{
width: 280px;
height: 240px;
padding:0px;
margin: 0px;

}
.gallery table
{
width: 90%;
}
.gallery h2
{
    font-weight: 1000;
    color:brown;
    font-family:fantasy;


}

.gallery pre
{
    font-family: cursive;
}