*{
    box-sizing: border-box;
}
body{
    margin: 0PX;
    padding: 0PX;
}
main {
    
    width: 100%;
    height: 100%; 
    overflow: hidden; 
     display: flex;
     flex-direction: column;
     padding-top: 60px;
     z-index: 1;
}
header{
    position: fixed; 
    top: 0; 
    width: 100%;
    margin: 0Px; 
   padding: 0px 0; 
    z-index: 1000; 
    height: 120px;
   
}

.top{
    margin: 0px;
    padding: 0px;
display: flex;
align-items: center;
height: 60%;
background-color: #f5ebe0;

}
.top ul{
  display: flex;
   flex-direction: row;
  margin-right: 0%;
  padding-right: 5%;
   list-style: none;
   text-decoration: none;
   
}
.top ul li a{
    color: black;!important
    font-weight:700 ;
}

.top i{
    margin: 5px;
}
.top #logo{
    width: 30%;
    height: 110%;
}


.navbar ul{
    list-style-type: none;
    
    padding: 0px;
    margin: 0px;
   background-color:#212121;
   overflow: hidden; 
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 0px;

}
.navbar li{
float: left;
padding: 20px;


}
.navbar a:hover{
    color:#9c6644;
    font-size: 1.02EM;
}
.home { 
    margin-top: 5%;
    height:70%;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.main1 h1{
    color: #ff6600;
    text-align: center;
    
   
}B
.main1 h2{
    color: #99582a;
}
.main1 pre{
    color:#03045e;
font-weight: 550;
    text-align: center;
    font-size: larger;
}
.main1 h3{
    width: 80%;
    height: 40px;
    padding: 1%;
       
        background-color:#00bbf9;
        color: #fff;
        text-align: center;
        align-items: center;
        border: 1PX;
        border-radius: 5PX;
        position: relative;
}
.main1 a:hover{
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.pics img{
    width: 100%;
    margin-right: 10px;
}
.home .main1{
background-color: #808080;
margin-bottom: 15px;
}
.main1 .pics{
    display: flex;
    flex-direction:row;
    max-width: 25%;
}
.main1 a{
    text-decoration: none;
}
.main1 h4{
    color: #800000;
}
footer {
    background-color: #343a40;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 570;
    color: #884040;
}

.f-contact, .f-links, .f-social, .f-info {
    flex: 1 1 200px;
    margin: 10px;
}

.f-contact h3, .f-links h3, .f-social h3, .f-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.f-contact p, .f-links ul, .f-social ul, .f-info p {
    font-size: 18px;
    line-height: 1.6;
}

.f-links ul {
    list-style: none;
    padding: 0;
    
}

.f-links ul li {
    margin-bottom: 5px;
}

.f-links ul li a {
    text-decoration: none;
    color: #fff;
}

.f-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.f-social ul li {
    margin-right: 10px;
}

.f-social ul li a {
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(10, 10, 10, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	
}

.f-info a {
    text-decoration: none;
    color: #fff;
}
.f-links ul li a {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.f-links ul li a:hover,.f-contact p:hover,.f-info p:hover,a:hover {
    color: #ff6600;
    font-size: 1.05em;
}


.f-social ul li a {
    transition: transform 0.3s ease;
   
}

.f-social ul li a:hover {
    transform: scale(1.2);
      color: #000 ;
    background-color: #fff;
}



